.ChannelButton {
    height: 4rem;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: lightgreen;
    font-size: 1.5rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    & > button {
        all: unset;
        font-size: 2rem;
        aspect-ratio: 1 / 1;

        display: flex;
        flex-direction: column;
        padding: 4px;

        align-items: center;
        justify-content: center;


        & > .Icon {
            transition: color 1s;

            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }
}