.Sidebar {
    height: 100%;
    width: 20%;
    border-radius: 32px;
    padding: 32px;

    background-color: slategray;

    display: flex;
    flex-direction: column;

    gap: 32px;
    overflow: hidden;

    & > .Coordinates {
        border-radius: 32px;
        border: solid black 2px;

        padding: 16px;
    }
}